accelerate>=1.8.1
bert_score>=0.3.13
bitsandbytes>=0.46.1
datasets>=3.6.0
evaluate>=0.4.5
hf-transfer>=0.1.9
pandas>=2.3.1
peft>=0.16.0
praw>=7.8.1
requests>=2.32.4
rouge_score>=0.1.2
streamlit>=1.47.0
tqdm>=4.67.1
transformers>=4.53.0
trl>=0.19.1
wandb>=0.20.1